@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    width: 100%;
}

header .header__left {
    max-width: 700px;
}

header .header__right .header-img {
    width: 350px;
    height: 350px;
    border-radius: 65% 35% 65% 35% / 35% 65% 35% 65%;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
    background-size: 300% 200%;
    filter: brightness(110%);
    filter: contrast(135%);
    transition: 0.5s ease-in-out;
}