.mobile {
    background: linear-gradient(to bottom, #e7e7e7, #ffffff) no-repeat;
    scroll-margin-top: 15rem;
}

.mobile .mobile__content {
    text-align: center;
}

.mobile .mobile__content .quintiary-title {
    font-size: 20pt; 
    font-weight: 400;
    color: #143761;
    padding-top: 2rem;
}

.mobile .mobile__content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 1rem 20rem;
}

.mobile .mobile__content ul li {
    width: calc(30% - 2rem);
    box-sizing: border-box;
    padding: 2rem;
}

.mobile .mobile__content ul li>* {
    padding-top: 1rem;
}

.mobile .mobile__content ul li .image-container {
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.384);
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    opacity: 60%;
}

.mobile .mobile__content ul li .image-container:hover {
    transform: translateY(-5px);
    opacity: 100%;
}

.mobile .mobile__content h3 {
    font-size: 12pt;
    font-weight: 500;
}

.mobile .mobile__content p {
    font-size: 12pt;
    font-weight: 400;
}
